body {
	font-family: 'Space Mono', monospace;
	background-color: #F5F5F5 !important;
}

/*
If on mobile, we want the descriptive text in the collapsible-body
*/
@media only screen and (max-width: 768px) {
    .subtitle {
        display: none;
    }
    .subtitle-mobile {
        padding-right: 2rem;
    }
}
/*
If on a large screen, we want the descriptive text in the collapsible-header, not in the body.
*/
@media only screen and (min-width: 768px) {
    .subtitle-mobile {
        display: none;
    }
}
/*
.collapsible-header:hover {
    background-color: #F5FFFA;
}*/

.intro
{
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-bottom: 50px;
}

.intro h1
{
    font-weight: 900;
    text-transform: small-caps;
}

.collapsible-body {
    background-color: white;
}
.collapsible-body h3 {
    margin: 0rem 2rem;
    padding-top: 0.4rem;
    font-size: 1.7em;
}

.card .card-action {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.collapsible-header b {
    font-weight: bold;
    font-size: 1.05em;
}

/*
work: deep-purple lighten-1;
edu: blue darken-1;
utak: deep-orange lighten-1;
*/
i.work-icon, .work-text, #work-coll li .collapsible-header:hover {
    color: #7e57c2;
}
i.edu-icon, .edu-text, #edu-coll li .collapsible-header:hover {
    color: #1e88e5;
}
i.utak-icon, .utak-text, #utak-coll li .collapsible-header:hover {
    color: #ff7043;
}