body {
	font-family: 'Space Mono', monospace;
	background-color: #ede8e4 !important;
}

.intro
{
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-bottom: 50px;
}

.intro h1
{
    font-weight: 900;
    text-transform: small-caps;
}

.collapsible-body {
    background-color: white;
}
.collapsible-body h3 {
    margin: 0rem 2rem;
    padding-top: 0.4rem;
    font-size: 1.7em;
}
i.work-icon {
    color: #7e57c2;
}
i.edu-icon {
    color: #64b5f6;
}
i.utak-icon {
    color: #ff7043;
}
.card .card-action {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}