<div class="container about">
    <h5>about me</h5>
    <hr>
    <div class="row">
        <div class="col s12 m6 l6">
            <p class="grey-text text-lighten-4">I am a Computer Scientist Student at the Royal Institute of Technology in Sweden. I recently finished my bachelor's degree and is now starting on my Master of Science-studies. I have chosen to study the new path called "Interactive Mediatechnology" with a focus on "Interactive Technologies", ie developing for user interaction with physical objects.</p>
        </div>
    </div>
</div>