<div class="container about">
    <h5>about me</h5>
    <hr>
        <div class="row white" id="about-box">
            <div class="col s12 m6 l6">
                <p>I am a Computer Scientist-student at the Royal Institute of Technology [KTH] in Sweden. I have finished my bachelor's degree and is taking a new Master of Science called "Interactive Mediatechnology". My focus is on "Interactive Technologies" and I am currently looking for summer jobs/internship, preferably using web and mobile technologies.</p>
            </div>
            <div class="col s6 m3 l3">
            	<h6>Programming skills</h6>
            	<hr>
            	<ul>
                    <li>Javascript</li>
            		<li>C/C++</li>
            		<li>Python2/3</li>
                    <li>CSS</li>
                    <li>Git</li>
            		<li>Bash</li>
            		<li>SQL</li>
            	</ul>
            </div>
            <div class="col s6 m3 l3">
            	<h6>Other</h6>
            	<hr>
            	<ul>
            		<li>Sublime Text</li>
            		<li>Gstreamer</li>
            		<li>Latex</li>
            		<li>Adobe Premiere Pro</li>
            		<li>Adobe After Effects</li>
            		<li>Final Cut Pro</li>
            	</ul>
            </div>
        </div>
</div>