<footer class="page-footer teal lighten-1 grey-text text-lighten-4">
	<div class="row contact-footer">
		<div class="col s4 m4 l4"></div>
		<div class="col s4 m2 l2">
			<img src="./images/personal.png" type="image/png" class="circle responsive-img" alt="Contact me!">
		</div>
		<div class="col s12 m6 l6 left-align">
			<ul class="socials">
				<li>
					<a href="https://se.linkedin.com/in/angelina-von-gegerfelt" class="socicon-linkedin waves-effect waves-light btn light-blue">
						Linkedin
					</a> 
				</li>
				<li>
					<a href="https://github.com/glassig" class="socicon-github waves-effect waves-light btn light-blue">
						Github
					</a> 
				</li>
				<li> 
					<a href="mailto:angelina.v.gegerfelt@gmail.com" class="socicon-mail waves-effect waves-light btn light-blue">
						angelina.v.gegerfelt@gmail.com
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-copyright">				
		<div class="grey-text text-lighten-2 right-align">
			&#x24B8; 
			2017
			Angelina von Gegerfelt
		</div>
    </div>
</footer>