<!DOCTYPE html>
<html>
	<head>
		<!--link rel="icon" href="/favicon.png"-->
		<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="box-style.css">
		<title>Angelina's project</title>
	</head>
	<body>
		<div class="page-wrap">
			<header>
				<h1> Hello! </h1>	
			</header>
			<div class="content">
				{{{body}}}
			</div>
		</div>
	</body>
	<footer>
		Angelina von Gegerfelt
		<div class="social-media">
			<a href="https://www.github.com/glassig">
				<img src="/images/github_alt.png">
			</a><br>
			<a href="https://www.linkedin.com/in/angelina-von-gegerfelt-8a8558108?trk=hp-identity-name">
				<img src="/images/linkedin.png">
			</a><br>
			<a href="Gmail">
				<img src="/images/email.png">
			</a><br>
			<a href="https://www.facebook.com/angelina.vongegerfelt">
				<img src="/images/facebook.png">
			</a>
		</div>
		<p class="copyright">© Copyright 2016 Angelina von Gegerfelt</p>
	</footer>
</html>