<!DOCTYPE html>
<html>
	<head>
		<!--link rel="icon" href="/favicon.png"-->
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Angelinas project</title>
	</head>
	<body>
		<div class="page-wrap">
			{{{body}}}
		</div>
	</body>
	<footer>
		Angelina von Gegerfelt
		<div class="social-media">
			www.github.com/Glassig  <br>
		angelina.v.gegerfelt@gmail.com<br>
		Facebook.com/angelina.vg 
		</div>
		
	</footer>
</html>