<!DOCTYPE html>
<html>
	<head>
		<!-- Optimized for mobile !-->
  		<meta name="viewport" content="width=device-width, initial-scale=1"/>
  		<!-- Own css !-->
		<link rel="stylesheet" type="text/css" href="style.css">

		<!--Import jQuery before materialize.js-->
      	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
   
   		<!-- Socicon (social icons) -->
		<link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">		
      	<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<!--Import font-->
		<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"> 

		<title>Angelina's website</title>
	</head>
    <body>
      	<header>
      		<div class="intro teal lighten-1 z-depth-1">
				<h1 class="grey-text text-lighten-4">&#123;Angelina von Gegerfelt&#125;</h1>
				<!-- Modal Trigger -->
				<a class="modal-trigger waves-effect waves-light btn light-blue" data-target="modal1">Download PDF</a>

				<!-- Modal Structure -->
				<div id="modal1" class="modal modal-fixed-footer">
				    <div class="modal-content">
				      	<h4>Download PDF version</h4>
				      	<p>Some information available on this website might not be available in the pdf, and some text may differ. The content should still be quite similar.</p>
				    </div>
				    <div class="modal-footer">
				      	<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Agree</a>
				    </div>
				  </div> 
			</div>
      	</header>
		<main>
			{{{body}}}
		</main>
		{{> footer}}
	</body>
	<script type="text/javascript">
		 $(document).ready(function(){
    	// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    	$('.modal-trigger').leanModal();
  });
	</script>
</html>